'use strict';

var utils = require('../utils/writer.js');
{{#operations}}
var {{classname}} = require('../service/{{classname}}Service');
{{#operation}}

module.exports.{{nickname}} = function {{nickname}} (req:any, res:any, next:any) {
  {{#allParams}}
  {{#isBodyParam}}
  var {{paramName}} = req.body;
  {{/isBodyParam}}
  {{^isBodyParam}}
  var {{paramName}} = req.swagger.params['{{baseName}}'].value;
  {{/isBodyParam}}
  {{/allParams}}
  {{classname}}.{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}})
    .then(function (response:any) {
      utils.writeJson(res, response);
    })
    .catch(function (response:any) {
      utils.writeJson(res, response);
    });
};
{{/operation}}
{{/operations}}
