const { parallel, src, dest } = require('gulp');
var ts = require('gulp-typescript');

var tsProject = ts.createProject('tsconfig.json');

function copyApi() {
  return src('gensrc/api/*')
    .pipe(dest('dist/api/'));
}

function build() {
  var tsResult = tsProject.src()
      .pipe(tsProject());

  return tsResult.js.pipe(dest('dist'));
}

exports.default = parallel(copyApi, build)
