  {
  "name": "{{projectName}}",
  "version": "{{appVersion}}",
  "description": "{{{appDescription}}}",
  "main": "index.js",
  {{^googleCloudFunctions}}
  "scripts": {
    "prestart": "npm install",
    "start": "node dist/index.js",
    "build": "gulp"
  },
  {{/googleCloudFunctions}}
  "keywords": [
    "openapi-tools"
  ],
  "license": "ISC",
  "private": true,
  "dependencies": {
  {{^googleCloudFunctions}}
    "connect": "^3.2.0",
  {{/googleCloudFunctions}}
    "js-yaml": "^3.3.0",
    "oas3-tools": "git+https://github.com/ellipsistechnology/oas3-tools.git",
    "@types/node": "^12.0.0",
    "typescript": "^3.4.5",
    "gulp-typescript": "^5.0.1",
    "glob": "^7.1.4",
    "blackbox-ioc": "^1.0.2",
    "blackbox-rules": "git+https://ellipsistechnology@bitbucket.org/ellipsistechnology/blackbox-rules-js.git",
    "blackbox-rules-service": "git+https://ellipsistechnology@bitbucket.org/ellipsistechnology/blackbox-rules-service-js.git",
    "blackbox-rules-utils": "git+https://ellipsistechnology@bitbucket.org/ellipsistechnology/blackbox-rules-utils-js.git",
    "blackbox-root-service": "git+https://ellipsistechnology@bitbucket.org/ellipsistechnology/blackbox-root-service-js.git"
  },
  "devDependencies": {
    "gulp": "^4.0.2"
  }
}
